Classroom Info
<p>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>
</p>
<%# 
not @student cause its an iteration it's getting passed through the do block %>
<%# lines 4-6 allows the user to pick one student in a particular classroom . 
whenever you use partial you can reuse them and only thing you need to do is define the local in the controller otherwise itll be nil %>