<h1>Classroom Info</h1>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>

<h3>Students:</h3>

<%= @classroom.students.map do |student| %>
    <%= render partial: 'students/student', locals: {student: student} %>
<% end %>
